# errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log
commands:
    01-command:
        command: wget -O/etc/yum.repos.d/treasure-data.repo https://raw.github.com/treasure-data/td-agent/master/redhat/treasure-data.repo

    02-command:
        command: yum check-update
        ignoreErrors: true

    03-command:
        command: yum install -y --nogpgcheck td-agent

    04-command:
        command: /etc/init.d/td-agent restart
